@use "../util" as *;

.btn {
  display: flex;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: rem(9);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: rem(1.93);
  justify-content: center;
  position: relative;

  &:after {
    content: "";
    height: rem(4);
    background-color: var(--dark-gray);
    position: absolute;
    bottom: rem(-5);
    width: 100%;
    display: block;
  }

  &,
  span {
    opacity: 0.5;
  }

  &.active {
    opacity: 1;
  }

  @media (hover: none) and (max-width: 767px) {
    background-color: transparent !important;
  }

  @media (hover) {
    &:hover {
      background-color: var(--dark-gray);
    }
  }
}
